flask
flask-cors
python-dotenv
psycopg2-binary
pandas
numpy
scikit-learn
statsmodels
scipy
matplotlib
requests
xgboost
bcrypt
PyJWT
reportlab
gunicorn>=21.2.0
google-cloud-storage>=2.10.0
huggingface-hub
openai